version: '3'

services:
  wordpress:
    image: wordpress
    restart: always
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: mysql
      WORDPRESS_DB_USER: sindhu
      WORDPRESS_DB_PASSWORD: holla
      WORDPRESS_DB_NAME: db
    volumes:
      - nags:/var/www/html

  mysql:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: db
      MYSQL_USER: sindhu
      MYSQL_PASSWORD: holla
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    volumes:
      - nags:/var/lib/mysql

networks:
  default:
    external:
      name: holla

volumes:
  nags:
